version: '3.7'

services:
  qdrant_bench:
    image: qdrant/qdrant:${QDRANT_VERSION}
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-file: 1
        max-size: 10m
    deploy:
      resources:
        limits:
          memory: 25Gb
