---
- name: Install python3-venv
  ansible.builtin.package:
    name: python3-venv
    state: present

- name: Setup
  ansible.builtin.shell: mkdir -p {{ working_dir }}/data/{{ dataset_name }}
  args:
    creates: "{{ working_dir }}/data/{{ dataset_name }}"

- name: Get dataset info
  set_fact:
    dataset: "{{ datasets | selectattr('name', 'equalto', dataset_name) | first }}"

- name: Copy files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - {src: "shard_transfer.py", dest: "{{ working_dir }}/shard_transfer.py"}
    - {src: "run-bench.sh", dest: "{{ working_dir }}/run-bench.sh", mode: '0755'}
    - {src: "{{ playbook_dir }}/files/transfer-speed/requirements.txt", dest: "{{ working_dir }}/requirements.txt"}

- name: Check dataset
  stat:
    path: "{{ working_dir }}/data/{{ dataset_name }}/vectors.npy"
  register: vectors_file

- name: Download dataset
  ansible.builtin.get_url:
    url: "{{ dataset.link }}"
    dest: "{{ working_dir }}/data/{{ dataset_name }}.tgz"
  when: not vectors_file.stat.exists

- name: Extract dataset
  ansible.builtin.unarchive:
    src: "{{ working_dir }}/data/{{ dataset_name }}.tgz"
    dest: "{{ working_dir }}/data/{{ dataset_name }}"
    remote_src: yes
  when: not vectors_file.stat.exists

- name: Run benchmark
  ansible.builtin.shell: "{{ working_dir }}/run-bench.sh"
  environment:
    QDRANT_URIS: "{{ qdrant_uris }}"
    DATASET_NAME: "{{ dataset_name }}"
    RUNS: "{{ runs }}"
    OUTPUT_FILENAME: "{{ working_dir }}/results.json"
    WORK_DIR: "{{ working_dir }}"
    PYTHONUNBUFFERED: "1"
  register: benchmark_output

- name: Show benchmark output
  debug:
    msg: "{{ benchmark_output.stdout_lines }}"

- name: Read results
  ansible.builtin.slurp:
    src: "{{ working_dir }}/results.json"
  register: results_file

- name: Output
  debug:
    msg: "{{ (results_file.content | b64decode | from_json).stats }}"