services:
  qdrant:
    image: ${CONTAINER_REGISTRY}/qdrant/qdrant:${QDRANT_VERSION}
    container_name: qdrant-node
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
      - "6335:6335"
    environment:
      - QDRANT__CLUSTER__ENABLED=true
      - QDRANT__CLUSTER__P2P__PORT=6335
      - QDRANT__LOG_LEVEL=DEBUG
      - QDRANT__FEATURE_FLAGS__ALL=${QDRANT__FEATURE_FLAGS__ALL:-false}
      - QDRANT__STORAGE__PERFORMANCE__ASYNC_SCORER=true
    volumes:
      - ./qdrant_data:/qdrant/storage
    command: >
      sh -c "./qdrant ${CLUSTER_BOOTSTRAP_URI:+--uri $CLUSTER_BOOTSTRAP_URI}"