name: Continuous Benchmark

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 23 * * *"

jobs:
  runBenchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Benches
        run: |
          export HCLOUD_TOKEN=${{ secrets.HCLOUD_TOKEN }}
          export GCS_KEY=${{ secrets.GCS_KEY }}
          export GCS_SECRET=${{ secrets.GCS_SECRET }}
          export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          export POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}

          # Benchmark the dev branch:
          export QDRANT_VERSION=dev
          bash -x tools/run_ci.sh

          # Benchmark the master branch:
          export QDRANT_VERSION=master
          bash -x tools/run_ci.sh
